<div class="panel panel-default">
  <div class="panel-heading">工作表</div>
  <div class="panel-body">
    <div id="work-table" ui-grid="options" ui-grid-pagination class="grid"></div>
  </div>
</div>

<script type="text/ng-template" id="action.html">
  <div class="ui-grid-cell-contents" align="center">
    <button class="btn btn-danger btn-xs" type="button"
            ng-click="grid.appScope.deleteRecord(row.entity)">
      删除
    </button>
    <button ng-if="row.entity.date2 === ''"
            class="btn btn-success btn-xs" type="button"
            ng-click="grid.appScope.record(row.entity)">
      归档
    </button>
    <button class="btn btn-info btn-xs" type="button"
            ng-click="grid.appScope.modify(row.entity)">
      修改
    </button>
  </div>
</script>
