<div class="jumbotron">
  <div class="panel panel-default">
    <div class="panel-heading">工作表</div>
    <div class="panel-body">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>名称</th>
          <th>备注</th>
          <th>时间</th>
        </tr>
        </thead>
        <tbody ng-repeat="item in data">
        <tr>
          <td>{{item.name}}</td>
          <td>{{item.comment}}</td>
          <td>{{item.start}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
