<div style="padding-bottom:20px;" class="form-inline row">
  <div class="col-md-4">
    <div class="form-group">
      <label>姓名*</label>
      <input type="text" class="form-control" ng-model="record.name" ng-required>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label>性别</label>
      <select class="form-control" ng-model="record.gender">
        <option value="女">女</option>
        <option value="男">男</option>
      </select>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label>年龄</label>
      <input type="text" class="form-control" ng-model="record.age">
    </div>
  </div>
</div>
<div style="padding-bottom:20px;" class="form-inline row">
  <div class="col-md-4">
    <div class="form-group">
      <label>ID号</label>
      <input type="text" class="form-control" ng-model="record.credit">
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label>置管日期</label>
      <div class="input-group">
        <input type="text" class="form-control" ng-model="record.date1" is-open="popup[0]"
          uib-datepicker-popup="yyyy/MM/dd">
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="open(0)">
            <i class="glyphicon glyphicon-calendar"></i>
          </button>
        </span>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label>置入医生</label>
      <input type="text" class="form-control" ng-model="record.name1">
    </div>
  </div>
</div>
<div style="padding-bottom:20px;" class="form-inline row">
  <div class="col-md-4">
    <div class="form-group">
      <label>医院名称</label>
      <input type="text" class="form-control" ng-model="record.hospital">
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label>输液港型号</label>
      <input type="text" class="form-control" ng-model="record.category">
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label>导管植入方式</label>
      <input type="text" class="form-control" ng-model="record.channelInject">
    </div>
  </div>
</div>
<div style="padding-bottom:20px;" class="form-inline row">
  <div class="col-md-4">
    <div class="form-group">
      <label>导管放置位置</label>
      <input type="text" class="form-control" ng-model="record.channelLay">
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label>导管尖端位置</label>
      <input type="text" class="form-control" ng-model="record.channelSpin">
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label>置入长度</label>
      <input type="text" class="form-control" ng-model="record.channelLength">
    </div>
  </div>
</div>
<div style="padding-bottom:20px;" class="form-inline row">
  <div class="col-md-4">
    <div class="form-group">
      <label>PORT放置位置</label>
      <input type="text" class="form-control" ng-model="record.portLay">
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label>取港日期</label>
      <div class="input-group">
        <input type="text" class="form-control" ng-model="record.date2" is-open="popup[1]"
               uib-datepicker-popup="yyyy/MM/dd">
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="open(1)">
            <i class="glyphicon glyphicon-calendar"></i>
          </button>
        </span>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label>伤口情况</label>
      <input type="text" class="form-control" ng-model="record.heal">
    </div>
  </div>
</div>
<div style="padding-bottom:20px;" class="form-inline row">
  <div class="col-md-4">
    <div class="form-group">
      <label>血管超声</label>
      <input type="text" class="form-control" ng-model="record.bloodCheck">
    </div>
  </div>
</div>
<div style="padding-bottom:20px;" class="form-inline row">
  <div class="col-md-4">
    <div class="form-group">
      <label>诊断</label>
      <textarea rows="5" cols="130" class="form-control" ng-model="record.comment"></textarea>
    </div>
  </div>
</div>
<div class="row" style="padding-bottom:20px;">
  <div class="col-md-4">
    <button class="btn btn-success" ng-click="submit()">提交</button>
  </div>
</div>


